@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 248, 242;
  /* Dracula FG */
  --background-start-rgb: 40, 42, 54;
  /* Dracula BG */
  --background-end-rgb: 40, 42, 54;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-fira-code), monospace;
  overflow-x: hidden;
}

/* Custom Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282a36;
}

::-webkit-scrollbar-thumb {
  background: #44475a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6272a4;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}